<div class="left-panel">
    <div class="geolocation">
        <form>
            <button id="geolocate">Geolocate yourself</button>
        </form>
        <ul id="locations"/>
    </div>
</div>

<div id="map"></div>
