body {
    background-color: #b5d0d0;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
}

.left-panel {
    width: 200px;
    height: 100vh;
    float: left;
    border-right: solid 2px #b29ac3;
}

.geolocation {
    margin-top: 1em;
}

.geolocation button {
    width: 100%;
}

