body {
    background-color: #b5d0d0;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
}

.left-panel {
    width: 200px;
    height: 100vh;
    float: left;
    border-right: solid 2px #b29ac3;
}

.simulator label {
    width: 100%;
    margin: 0 5%;
}

.simulator input,
.simulator button {
    width: 90%;
    margin: 0 5%;
}

.geolocation {
    margin-top: 1em;
}

.geolocation button {
    width: 90%;
    margin: 0 5%;
}

.shareGeolocation {
    position: absolute;
    top: 1rem;
    left: 5rem;

    width: 5rem;
    height: 5rem;
}

.shareGeolocation button {
    width: 5rem;
    height: 5rem;

    border-radius: 50%;
    border: 0.4rem solid #cfdcec;

    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}

.shareGeolocation button:hover {
  background: #30588e;
}

.shareGeolocation button.play {
  background-image: url('/images/play-arrow-24px.svg');
  background-repeat: no-repeat;
  background-size: 4.1rem;
}

.shareGeolocation button.stop {
  background-image: url('/images/stop-black-24px.svg');
  background-repeat: no-repeat;
  background-size: 4.1rem;
}

